import("Matrix", "MASS", "hglm.data")
importFrom("grDevices", "dev.new", "dev.off", "pdf")
     importFrom("graphics", "abline", "hist", "lines", "par", "plot")
     importFrom("stats", "Gamma", "as.formula", "coef", "dbeta", "dbinom",
     "deviance", "dgamma", "dnorm", "gaussian", "get_all_vars",
     "glm", "hatvalues", "is.empty.model", "loess.smooth",
     "logLik", "make.link", "model.frame", "model.matrix",
     "model.offset", "model.response", "model.weights", "pchisq",
     "printCoefmat", "pt", "qqline", "qqnorm", "residuals",
     "rgamma", "sd", "terms", "var")
     importFrom("utils", "packageDescription")
export("hglm", "hglm2", "Beta", "CAR", "SAR", "lrt", "inverse.gamma", "inverse.sqrt")

S3method(hglm, default)
S3method(hglm, formula)
S3method(hglm2, formula)
S3method(print, hglm)
S3method(summary, hglm)
S3method(plot, hglm)
S3method(print, summary.hglm)
S3method(logLik, hglm)
